<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.idongjia.live.db.mybatis.mapper.LiveModuleMapper">
    <resultMap id="bannerMap" type="cn.idongjia.live.db.mybatis.po.LiveModulePO">
        <id     property="id"          column="id"        />
        <result property="title"       column="title"      />
        <result property="subTitle"    column="sub_title"        />
        <result property="pic"         column="pic"       />
        <result property="jumpType"    column="jump_type"       />
        <result property="jumpAddr"    column="jump_addr"     />
        <result property="desc"        column="desc"     />
        <result property="createTime"  column="create_time"   />
        <result property="updateTime"  column="update_time" />
        <result property="startTime"   column="start_time"     />
        <result property="position"    column="position"      />
        <result property="status"      column="status"       />
        <result property="state"       column="state"       />
        <result property="weight"      column="weight"       />
    </resultMap>
    <insert id="insert" parameterType="LiveModulePO" useGeneratedKeys="true" keyProperty="id">
        insert into live_module
            (title,sub_title,pic,jump_type,jump_addr,`desc`,create_time,update_time,start_time,`position`,`status`,state,weight)
        values
            (#{title},#{subTitle},#{pic},#{jumpType},#{jumpAddr},#{desc},#{createTime},#{updateTime},#{startTime},#{position}, #{status},#{state},#{weight})
    </insert>
    <update id="update" >
        update live_module
        set update_time=#{updateTime}
        <if test="title !=null">,title=#{title}</if>
        <if test="subTitle !=null">,sub_title=#{subTitle}</if>
        <if test="pic !=null">,pic=#{pic}</if>
        <if test="jumpType !=null">,jump_type=#{jumpType}</if>
        <if test="jumpAddr !=null">,jump_addr=#{jumpAddr}</if>
        <if test="weight !=null">,weight=#{weight}</if>
        <if test="status !=null">,status=#{status}</if>
        <if test="state !=null">,state=#{state}</if>
        <if test="startTime !=null">,start_time=#{startTime}</if>
        <if test="desc != null">, `desc` = #{desc}</if>
        <if test="position != null">, `position` = #{position}</if>
        where id=#{id}
    </update>

    <update id="delete" >
        update live_module set status=-1 where id=#{id}
    </update>

    <select id="search" resultMap="bannerMap">
        select * from live_module
        <include refid="whereParam"/>
        <if test="orderBy !=null"   >order by ${orderBy} </if>
        <if test="limit != null"    >LIMIT ${limit}      </if>
        <if test="offset != null"   >OFFSET ${offset}    </if>
    </select>
    <sql id="whereParam">
        <where>
            <if test="id !=null"               > and id=#{id}              </if>
            <if test="title !=null"             > and title=#{title}          </if>
            <if test="startTime!=null"          > and start_time =#{startTime} </if>
            <if test="state !=null"            > and state =#{state}   </if>
            <if test="position != null">and `position` = #{position}</if>
            <if test="positions != null"> and `position` in
                <foreach collection="positions" item="position" open="(" close=")" separator=",">
                     #{position}
                </foreach>
            </if>
            <choose>
                <when test="status !=null" >
                    and status=#{status}
                </when>
                <otherwise>
                    and status !=-1
                </otherwise>
            </choose>
        </where>
    </sql>
    <select id="countModule" resultType="int">
        select count(*) from live_module
        <include refid="whereParam"/>
    </select>
</mapper>
