<?xml version="1.0" encoding="UTF-8"?>
<Configuration pureStatus="debug">
    <properties>
        <property name="logPath">logs</property>
    </properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p %m [%t] %l%n"/>
        </Console>

        <RollingFile name="RollingFile" filename="${logPath}/automation.log"
                     filepattern="${logPath}/%d{YYYYMMddHHmmss}-automation.log">
            <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p %m [%t] %l%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>